
#nav{
    width: 98.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ede6ea, #fffcdc);
    position: fixed;
    top: 0px;
    z-index: 100;
    height: 68px;
}
#container1{
    width: 100%;
    margin: auto;
    position: relative;
    /* display: flex; */
    justify-content: space-between;
    /* z-index: 100; */
}
#nav_left{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    width: 60%;
    margin-left: 10px;

}
#nav_left a {
    text-decoration: none;
    color: #312074;
    font-size: 20px;
}



#logo>i {
    font-size: 33px;
    margin-right: 5px;

}
#nav_left > ul {
    display: flex;
}
#nav_left > ul > li {
    padding: 40px 20px;
    list-style: none;
}
#nav_left > ul > li > a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}
#nav_left > ul > li > a:hover{
    color: #7f5587;
}
.main1{
    background-color: aliceblue;
    position: absolute;
    display: flex;
    top: 120%;
    left: 0%;
    width: 100%;
    opacity: 0;
    flex-wrap: wrap;
    visibility: hidden;
    transition-duration: 0.3s;
}

.backvideo{
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 100;
}
@media (min-aspect-ratio:16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .backvideo{
        width: auto;
        height: 100%;
    }
}
.col1{
    flex-basis: 20%;
    
}
.col1>p{
    margin: 30px 0px 25px 30px;
    font-weight: 600;
    font-size: 12px;
    font-family: Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: #84909b;
}
#nav_left > ul > li:hover .main1{
    visibility: visible;
    background-color: white;
    width: 100%;
    top: 100%;
    opacity: 1;
    padding: 20px;
}

.col1 li {
    list-style: none;
}
#logo{
    display: flex;
    align-items: center;
}
#logo>a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    color: #383554;
}
#nav_right>a>button {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-right: 40px;
    padding: 11px 27px 11px 27px;
    border-radius: 10px;
    border: none;
    background-color: #08cf65;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#nav_right{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#nav_right>i{
    margin-right: 25px;
    font-size: 20px;
}
#nav_right>h2{
    padding-right: 180px; 
    font-family: 'Oxygen', sans-serif;  
}
#nav_right>i:hover{
    color: #cb4961;
}
#nav_right>a>button:hover{
    background-color: black;
    color: white;
}

#nav_right>a {
    text-decoration: none;
}
#droplogo{
    margin-bottom: -6px;
    padding-right: 4px;
}
#nav_left .col1 a{
    color: #262525;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;  
} 
.col1 p{
    font-family: Arial, Helvetica, sans-serif;
    color: #576b7e;
    font-size: 15px;
    margin-left: 31px;
}
.main1 > div:nth-child(2){
    padding-right: 10px;
    margin-left: 15px;
}
.main1 > div:nth-child(3){
    padding-right: 10px;
    margin-left: 15px;
}
.main1 > div:nth-child(4){
    width: 100%;
    margin-left: 15px;
}


/* ********************************************************1st-box********************************** */

.banner-card {
    position: relative;
    /* padding-bottom: 180px; */
    height: 570px;
    margin-top: 69px;
    background-color: #cec7e9;
    background-color: black;
}
.banner-card > img{
    max-width: 100%;
}
.banner-text{
    position: absolute;
    top: -2%;
    padding: 20px;
    color: rgb(234 237 245);
}
.banner-text > p{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.banner-text-2{
    position: absolute;
    top: 39%;
    padding: 20px;
    color: rgb(190 196 213);
}
.banner-text-2 > p{
    font-size: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.banner-btn{
    position: absolute;
    top:56% ;
    padding: 20px;
 }

.banner-card button{
    font-size: 21px;
    border: none;
    border-radius: 26px;
    padding: 17px 21px 17px 21px;
    background-color: #08cf65;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}
.banner-card button:hover{
    background-color: aliceblue;
    color: black;
    box-shadow: rgba(255 ,255, 255, 0.16) 0px 10px 36px 0px, rgba(78 ,0 ,231, 0.06) 0px 0px 0px 1px;
    
}

.comp-banner{
    width: 73%;
    display: flex;
    position: absolute;
    margin-left: 165px;
    top: 75%;
    /* border: 1px solid chartreuse; */
    justify-content: space-between
}
.comp-banner img {
    width: auto;
    transition: transform .2s;
}
.comp-banner img:hover{
    transform: scale(1.5);
    
}
.banner-card > p{
    position: absolute;
    left: 33%;
    top: 86%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #c5daed;
}


/* **************************transforming box css******************************** */
#transform{
    
    margin: auto;
    background-color: #ffe4f5;
}
#transform > h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a3752;
}
#transform > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #576b7e;
}
.cards{
    width: 93%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.cards > div{
    background-color: white;
    
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out; 
}
.cards > div:hover{
    transform: scale(1.2);
}
.cards >div:nth-child(4) > img{
    border-radius: 10px 10px;
}
.cards > div> img{
    width: 100%;
    height: 220px;
     
}

.cards > div > h2{
    margin-left: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a3752;
}
.cards > div > p{
    margin: 0px 22px 26px 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #576b7e;
}

/* ----------------------------------------------transform block ends here-------------------------- */


/* *****************************************free gift starts from here******************************** */

#gift{
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: #cec7e9;
}
.gifttext > p:nth-child(1){
    margin: 115px 0px 0px 35px;
    font-weight: 900;
    font-size: 12px;
    font-family: Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: rgb(63 87 108);
}
.gifttext > h2{
    margin-left: 35px;
    font-family: Geneva, Verdana, sans-serif;
    color: #1a3752;
}
.gifttext > p:nth-child(3){
    margin: auto 87px auto 35px;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color: #576b7e;
}
#gift > div{
    width: 48%;
    margin-top: 60px;
}
.giftimg>img{
    width: 100%;
}




/* -----------------------------------------------slider css----------------------- */


   

      #sliderbox{
        background-color: rgb(126 211 165);
        padding: 1px 0px 53px 0px;
        margin-top: -46px;
      }

      #sliderbox > h2{
        text-align: center;
        font-size: 34px;
        color: #181f38;
        font-family: 'Work Sans', sans-serif;
      }
      #slider{
        width: 95%;
        margin: auto;
        border-radius: 20px 20px 20px 20px;
        
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .swiper-slide{
        background-color: white;
        display: grid;
        border-radius: 20px;
        
        grid-template-columns: repeat(2,30% 70%);
        gap: 10px;
      }
      .swiper-slide > div{
        border-radius: 20px;
      }
      .swiper-slide>div:nth-child(1) >img{
        width: 100%;
        height: 100%;
        border-radius: 19px 0px 0px 19px;
      }
      .swiper-slide h4{
        font-size: 22px;
        padding: 15px 61px 0px 22px;
        line-height: 2;
        font-weight: 500;
        color: rgb(46 60 60);
        font-family: 'Work Sans', sans-serif;
      }
      .swiper-slide p{
        padding: 0px 61px 0px 22px;
        font-size: 20px;
        font-style: oblique;
        /* font-weight: 600; */
        color: #403f40;
        
      }

      .swiper-slide>div:nth-child(2) >img{
        display: block;
        position: relative;
        margin: auto;
      }


      /* ************************************footer************************** */

      footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        background-color: black;
      }

      .foot p{
        font-size: 19px;
        font-weight: 600;
        color: white;
        font-family: 'Work Sans', sans-serif;
      }
      .foot li{
        list-style: none;
      }
      .foot a{
        text-decoration: none;
        line-height: 2;
        font-size: 18px;
        color: #c3dbba;
      }
      .foot a:hover{
        text-decoration: underline;
      }

      /* ************************************social*********************************** */


      .social{
        
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2, 30% 40%);
        gap: 10%;
      }
      .store{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        margin: 15px 0px 15px 34px;
      }
      .store > img{
        width: 80%;
        
      }

      .media{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 207px;
      }
      .media>i{
        font-size: 27px;
        color: white;
      }
      .media>i:hover{
        color: #08cf65;
      }

      hr{
        background-color: white;
        color: #fff;
        margin-left: 10px;
        width: 400%;
        /* height: 2px; */

      }